<<<<<<< HEAD
=======

>>>>>>> d0bdb51f61046d6ccbce5d71ad8ff9a12a83a159
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">BonFyr</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/campgrounds">Campgrounds</a>
                <a class="nav-link" href="/campgrounds/new">New Campground</a>
            </div>
            <div class="navbar-nav ml-auto">
<<<<<<< HEAD
                <form action="/campgrounds" method="GET">
                    <div class="input-group mb-1">
                        <input type="text" name="search" class="form-control" required placeholder="Search Camps" aria-label="Search Camp" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                        </div>
                    </div>
                </form>
=======


               
                    <div class="form-group">
                            
                                <input type="text" id="searchCampground" class="form-control" placeholder="Search.." name="search">
                            
                    </div>
                


>>>>>>> d0bdb51f61046d6ccbce5d71ad8ff9a12a83a159
                <% if(!currentUser) {%>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/register">Register</a>
                <% } else {%>
                <a class="nav-link" href="/logout">Logout</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>

