<% layout('layouts/boilerplate')%>

<div class="row">
    <div class="col-6">
        <h2><%= user.username %></h2>

    </div>
    <div class="col-6">
        <% if(currentUser){ %>
            <a href="/users/<%=user._id%>/contact"<h2>Contact <%=user.username%></h2>
        
        <% } %>
        
    </div>
</div>